# Build and Release Folders
bundles/
dist/
node_modules/
bower_components/

# Dev files
npm-debug.log

# Project property files
.actionScriptProperties
.flexLibProperties
.settings/
.idea/
.project
.DS_Store
*.iml